*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #365486;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.container {
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: space-around;
}

#cont-par{
    font-size: 30px;
}

.cabecalho-imagem{
    width: 30%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.qsomos-imagem{
    width: 25%;
    border-radius: 50%;
}

.qsomos{
    height: 80vh;
    background-image: linear-gradient(#365486,#7FC7D9);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    
}

.qsomos-div-conteudo{
    width: 35%;
    text-align: center;
    margin-right: 60px

}


.qsomos-titulo{
    padding: 24px 0;
}
